<div class='new-session'>

  <p class='sign-in-text'>
    Great! Now that your team is registered, let's sign you in. Click the button below to get your account set up.
  </p>

  <p class='sign-in-button'>
    <a href=<%= "https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team&client_id=#{ENV['SLACK_CLIENT_ID']}&redirect_uri=#{sessions_create_url}" %>>
      <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
    </a>
  </p>
</div>
