body {
  background-color: #fffbce;
  margin: 0;
}

.title-bar {
  position: fixed;
  top: 0;

  height: 50px;
  width: 100%;
  line-height: 50px;

  background-color: #ffffff;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  text-align: center;

  .title,
  .sign-out-button,
  .team-select-container,
  .team-sign-in {
    display: inline-block;
    height: inherit;
    text-align: center;
  }

  .title {
    margin-right: -20%;
  }

  .right-title-group {
    .switch-user-form {
      display: inline-block!important;
      padding-right: 15px;
    }

    width: auto;
    float: right;
    padding-right: 15px;
  }
}

.links-container {
  padding: 80px 22px 22px 22px;

  .link-box-container {
    display: inline-block;

    width: 325px;
    margin-left: 5%;
    margin-bottom: 22px;

    text-align: center;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .link-box {
    height: 200px;
    width: 90%;

    margin: 0 auto;
    padding: 10px 8px 0 8px;

    background-color: white;

    border-radius: 10px;
    border-style: solid;
    border-color: rgba(153, 153, 153, 0.41);
    border-width: 1px;

    &:hover {
      box-shadow: 5px 10px 10px -5px rgba(133, 133, 133, 1);
    }
  }

  .link-image {
    max-height: 140px;
  }

  .link-image-container {
    height: 140px;
    overflow: hidden;

  }

  .link-title {
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}



